.wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.navlogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.navItems {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
}

.navItems a {
  font-size: large;
  color: #1686ff;
}

.logoIcon {
  height: 3rem;
}

.active {
  text-decoration: underline;
}
