.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper hr {
  align-self: center;
  width: 95%;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 90%;
}

.missions {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.listItem {
  padding: 1rem;
}
